* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
  cursor: default;
}
::-webkit-scrollbar{
  display: none;
}